@import '../../assets/mixins/mixins.scss';

.Portfolio {
    width: 100%;
    margin-top: -50px;
    padding-top: 50px;
}



@include desktop {
    .Portfolio {
        margin-top: -70px;
        padding-top: 70px;
        padding: 49px 96px 98px;
    }
}